* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
  }

.page_content{
    display: flex;
} 

.side_bar{
    padding: 20PX;
    width: 30%;
}

.side_bar ul{
    list-style: none;
}

.side_bar ul li{
    margin-bottom: 10px;
}

.side_bar ul li:nth-child(5) a{
  color: #855342;
}

.side_bar ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, .52);
  }

  .active_liste{
    color: #855342;
  }

  .page_content .side_bar ul li:first-child a{
    color: #CBA896;
    border-bottom: solid 1px #855342;
  }

  .change_password form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .change_password form input{
    width: 350px;
  }

  #submit_change{
    background-color: #855342;
    color: white;
    border: solid 1px black;
  }


  @media only screen and (max-width: 1024px){
    .side_bar{
      display: none;
    }
    .change_password{
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 480px){
    .change_password {
      width: 90%;
      margin: 0 auto;
    }
    .change_password form input , label{
      width: 100%;
    }
  }  
