*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
    text-decoration: none;
} 

.done_or_not{
    width: 95%;
    height: 30px;
    margin: 20px auto;
    display: flex;
}

.active{
    width: 50%;
    margin: auto;
    border: #CBA896 solid 1px;
    background-color: #CBA896;
    text-align: center;
    padding: 10px 0;
}

.made_not{
    width: 95%;
    padding: 15px 2.5%;
    display: flex;
    gap: 20px;
}
.active_page{
    border-bottom: #855342 1px solid;
    color: #855342;
    display:inline-block
}

 .not-active{
    width: 50%;
    border: #CBA896 solid 1px;
    text-align: center;
    margin: auto;
    padding: 10px 0;
} 

a{
    text-decoration: none;
    color: black;
}

h2{
    text-align: center;
    margin-top: 20px;
}

.fromy{
    border: #855342 solid 2px;
    border-radius: 5px; 
    width: 50%;
    margin: 20px auto;
}

.form-add{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.form-add input , textarea{
    width: 100%;
    margin: 10px auto;
    height: 30px;
    border: 1px solid #ccc;
}

#submit{
    background-color: #855342;
    color: white;
}

table {
    border-collapse: collapse;
    width: 95%;
    background-color: #E6DAD5;
    margin-left: 2.5%;
    margin-top: 10px;
    
  }

th {
    border: 2px solid #FFFFFF;
    background-color: #CBA896;
    text-align: center;
    padding: 8px;
  }

  td{
    border: 2px solid #FFFFFF;
    height: auto;
    padding: 10px;
  }

 tr:hover {
      background-color: #CBA896 ;
} 

#image{
    text-align: center;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.updateBook , .deleteBook{
    background-color: Transparent;
    border: none; 
}

#img-modify{
    height: 300px;
    width: 200px;
    margin: 20px 0;
    object-fit: cover;
    width: 100%;
}

@media only screen and (max-width: 1024px){
    .fromy{
        width: 70%;
    }
}

@media only screen and (max-width: 768px){
    .fromy{
        width: 80%;
    }
}

@media only screen and (max-width: 480px){
    .parents{
        width: 98%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .fromy{
        width: 90%;
    }
}
