*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
    text-decoration: none;
} 

header{
    background-color: #E6DAD5;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

#logo a{
    text-decoration: none;
    display: flex;
    color: #855342;
}
#logo a p{
    margin-top: 0;
    font-weight: bolder;
    font-size: 25px;
}
#logo a img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

header .navbary ul{
    list-style: none;
}

header .navbary ul li{
    position: relative; 
    float: left;
} 

header .navbary ul li a{
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}

header .navbary ul li a:hover{
    background-color: #855342;
    color: white;
}

header .navbary ul li ul{
    position: absolute;
    left: 0;
    width: 240px;
    background-color: #E6DAD5;
    display: none;
}

header .navbary ul li ul li{
    width: 100%;
    border-top: solid 1px rgba(0,0,0,.1);
}

header .navbary ul li ul li a{
   margin: 0;
}

header .navbary ul li:focus-within > ul ,
header .navbary ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.done_or_not{
    width: 95%;
    height: 30px;
    margin: 20px auto;
    display: flex;
}

.active{
    width: 50%;
    margin: auto;
    border: #CBA896 solid 1px;
    background-color: #CBA896;
    text-align: center;
    padding: 10px 0;
}

 .not-active{
    width: 50%;
    border: #CBA896 solid 1px;
    text-align: center;
    margin: auto;
    padding: 10px 0;
} 

a{
    text-decoration: none;
    color: black;
}

h2{
    text-align: center;
    margin-top: 20px;
}

.fromy{
    border: #855342 solid 2px;
    border-radius: 5px; 
    width: 50%;
    margin: 20px auto;
}

.form-add{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.form-add input , textarea{
    width: 100%;
    margin: 10px auto;
    height: 30px;
    border: 1px solid #ccc;
}

#submit{
    background-color: #855342;
    color: white;
}

table {
    border-collapse: collapse;
    width: 95%;
    background-color: #E6DAD5;
    margin-left: 2.5%;
    margin-top: 10px;
    
  }

th {
    border: 2px solid #FFFFFF;
    background-color: #CBA896;
    text-align: center;
    padding: 8px;
  }

  td{
    border: 2px solid #FFFFFF;
    height: auto;
    padding: 10px;
  }

 tr:hover {
      background-color: #CBA896 ;
} 

#image{
    text-align: center;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.updateBook , .deleteBook{
    background-color: Transparent;
    border: none; 
}

#img-modify{
    height: 300px;
    width: 200px;
    margin: 20px 0;
    object-fit: cover;
    width: 100%;
}

@media(max-width:991px){
    header{
        position: relative;
        top: 0; left:0; right: 0;
    }

    header label{
         display: initial;
    }

    header .navbary{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #E6DAD5;
        border-top: solid 1px rgba(0,0,0,.1);
        display: none;      
    }

    header .navbary ul li{
        width: 100%;
    }

    header .navbary ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbary ul li ul li{
        background-color: #f3e8e3;
    }

    #menu-bar:checked ~ .navbary{
        display: initial;
    }

}

