* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
  }

  .header_content{
    background-color: #E6DAD5;
    width: 100%;
    padding-bottom: 10px;
}

.little_head{
  background-color: #CBA896;
  width: 27%;
  height: 150px;
  position: absolute;
  right: 0; 
}

.header_content .image_title{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0px auto;
    padding-top: 10px;
    position: relative;
}

.ser{
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.header_content .search{
    display: flex;
    margin: 10px;
    margin-left: 20%;
    position: relative;
}
  .header_content .search input{
      width: 60%;
      border-radius: 0;
      border: none;
      height: 50px;
  }

  .header_content .search button{
      width: 15%;
      border: none;
      background-color: #855342;
      color: white;
      height: 50px;
  }

  #ourLibrary{
    text-align: center;
    margin: 20px;
  }

      .card2{
        display: flex;
        width: 95%;
        margin: auto;
        gap: 3%;
        flex-flow: wrap;
      }  

      .card2 .one-card {
        width: 22.75%;
        border: 1px solid #f0f0f0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin-bottom: 30px;
        height: auto;
      }

      .card2 .one-card h4{
        width: 90%;
        margin: 5px 5% 10px;
        font-size: 18px;
      }

      .card2 .one-card #our-library-image{
        width: 90%;
        margin: 10px 5%;
        margin-top: 20px;
        height: 408px;
        object-fit: cover;
      }

      .icon-pannel-favorite{
        display: flex;
        gap: 10px;
      }

      .prix-pannel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 5px auto 15px;
      }

      .prix-pannel p{
        margin-bottom: 0;
      }

      .icon-pannel-favorite button{
        background: transparent;
        border: none;
      }

      #fullpannel{
        display: none;
      }
      #pannel:hover{
        display: none;
      }

      #pannel:hover + #fullpannel{
        display: block;
      }

      #fullfavorite{
        display: none;
      }

      #favorite:hover{
        display: none;
      }

      #favorite:hover + #fullfavorite{
        display: block;
      } 
      
      .slide-container{
        width: 50%;
        height: fit-content;
      }
      
      .img-item-1{
        width: 25rem;
      }

      @media only screen and (max-width: 1200px) {
        .header_content .image_title{
          width: 57%;
        }
      }
      
      @media only screen and (max-width: 1024px) {
        .header_content .image_title{
          width: 65%;
        }
        .card2{
          gap: 2%;
        }  
        .card2 .one-card {
          width: 32%;
        }
     }
      
      @media only screen and (max-width: 768px) {
        .header_content .image_title{
          width: 80%;
        }
        .card2{
          gap: 4%;
        }  
        .card2 .one-card {
          width: 48%;
        }
      }

      
      @media only screen and (max-width: 480px) {
        .little_head{
          display: none;
        }
        .header_content .image_title{
          width: 85%;
        }
        .header_content .search input{
          width: 70%;
          border-radius: 0;
          border: none;
          height: 50px;
      }
    
      .header_content .search button{
          width: 25%;
          border: none;
          background-color: #855342;
          color: white;
          height: 50px;
      }
      h2{
        margin-bottom: 0;
        margin-top: 15px;
      }
      .card2{
        gap: 0%;
      }  
      .card2 .one-card {
        width: 90%;
        margin: 15px auto;
      }

      .card2 .one-card #our-library-image img{
        height: 445px;
      }
      }

