* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
  }

  .header_content{
    background-image: url('../Images/search_header.png');
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    padding-bottom: 10px;
}

.header_content .image_title{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0px auto;
    padding-top: 10px;
}
.ser{
  font-size: 30px;
  color: #855342;
}

.header_content .search{
    display: flex;
    margin: 10px;
    margin-left: 20%;
}
  .header_content .search input{
      width: 60%;
      border-radius: 0;
      border: none;
      height: 50px;
  }

  .header_content .search button{
      width: 15%;
      border: none;
      background-color: #855342;
      color: white;
      height: 50px;
  }

      .card2{
        display: flex;
        width: 95%;
        margin: 20px auto;
        justify-content: space-between;
        flex-flow: wrap;
      }  

      .card2 .one-card {
        width: 23%;
      }

      .card2 .one-card #our-library-image{
        border: 1px solid black;
        width: 100%;
        height: 400px;
        object-fit: cover;
      }

      .icon-pannel-favorite{
        display: flex;
        justify-content: space-between;
        width: 20%;
      }

      .prix-pannel{
        display: flex;
        justify-content: space-between;
      }

      .icon-pannel-favorite button{
        background: transparent;
        border: none;
      }

      #fullpannel{
        display: none;
      }
      #pannel:hover{
        display: none;
      }

      #pannel:hover + #fullpannel{
        display: block;
      }

      #fullfavorite{
        display: none;
      }

      #favorite:hover{
        display: none;
      }

      #favorite:hover + #fullfavorite{
        display: block;
      }

      footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 20px;
        background-color: #E6DAD5;
      }
      
      footer .menue-links ul {
        list-style: none;
        padding-left: 0;
      }
      
      footer .menue-links ul li {
        margin-top: 10px;
      }
      
      footer .menue-links ul li a {
        text-decoration: none;
        color: black;
      }
      
      footer .privacy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
      }
      
      footer .searshAndSocialMeadia {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
      }
      
      footer .searshAndSocialMeadia .searchandText .search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      
      footer .searshAndSocialMeadia .searchandText .search input, footer .searshAndSocialMeadia .searchandText .search button {
        border-radius: 0;
        border: none;
        height: 35px;
        margin-top: 15px;
        width: 300px;
      }
      
      footer .searshAndSocialMeadia .searchandText .search button {
        width: 60px;
        background-color: #855342;
        color: white;
        cursor: pointer;
      }
      
      footer .searshAndSocialMeadia .socialMedia {
        margin-left: auto;
      }
      
      footer .searshAndSocialMeadia .socialMedia ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        width: 300px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
      }
      
      footer .searshAndSocialMeadia .socialMedia ul .mail {
        height: 28px;
      }
      
      footer .searshAndSocialMeadia .socialMedia ul li img {
        width: 30px;
        height: 30px;
      }
      
      footer .privacy-responsive {
        display: none;
      }      

      @media only screen and (max-width: 1200px) {

      }
      
      @media only screen and (max-width: 1024px) {

        .card2 .one-card {
          width: 30%;
        }
        footer .menue-links {
          width: 25%;
        }
        footer .menue-links p {
          font-size: 14px;
        }
        footer .menue-links ul li {
          margin-top: 7px;
        }
        footer .menue-links ul li a {
          font-size: 14px;
        }
        footer .privacy {
          font-size: 14px;
        }
        footer .searshAndSocialMeadia {
          width: 380px;
        }
        footer .searshAndSocialMeadia .searchandText {
          margin-left: auto;
        }
        footer .searshAndSocialMeadia .searchandText p {
          font-size: 14px;
        }
        footer .searshAndSocialMeadia .searchandText .search input, footer .searshAndSocialMeadia .searchandText .search button {
          width: 200px;
        }
        footer .searshAndSocialMeadia .searchandText .search button {
          width: 60px;
        }
        footer .searshAndSocialMeadia .socialMedia ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
          width: 150px;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
        footer .searshAndSocialMeadia .socialMedia ul .mail {
          height: 28px;
        }
        footer .searshAndSocialMeadia .socialMedia ul li img {
          width: 30px;
          height: 30px;
        }
      }
      
      @media only screen and (max-width: 768px) {

        .card2 .one-card {
          width: 47%;
        }
        footer {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 100%;
        }
        footer .menue-links {
          width: 90%;
        }
        footer .privacy {
          display: none;
        }
        footer .searshAndSocialMeadia {
          display: block;
          width: 90%;
        }
        footer .searshAndSocialMeadia .searchandText .search {
          width: 100%;
          margin: 0 auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
        footer .searshAndSocialMeadia .searchandText .search input, footer .searshAndSocialMeadia .searchandText .search button {
          width: 190%;
        }
        footer .searshAndSocialMeadia .searchandText .search button {
          width: 30%;
        }
        footer .searshAndSocialMeadia .socialMedia {
          width: 100%;
          margin: 20px auto;
          text-align: center;
        }
        footer .privacy-responsive {
          width: 90%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
        }
      }
      .slide-container{
        width: 50%;
        height: fit-content;
}
.img-item-1{
        width: 25rem;
}
      
      @media only screen and (max-width: 480px) {

      }

