//  big header #E6DAD5 
// litle header #CBA896 
//  logo #855342 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
}

#test{
    color: aqua;
}

.header{
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 20px;
    width: 100%;
    nav{
        display: flex;
        justify-content: space-between;
        #logo{
            a{
                text-decoration: none;
                display: flex;
                color: #855342;
                p{
                    margin-top: 0;
                    font-weight: bolder;
                    font-size: 25px;
                }
                img{
                    width: 30px;
                    height: 30px;
                    margin-left: 5px;
                }
            }
        }
        #menue-content{
            display: flex;
            justify-content: space-between;
            width: 60%;
            .centerMenu{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    width: 200%;
                    margin: 0;
                    li{
                        a{
                            text-decoration: none;
                            font-size: 18px;
                            color: black;
                        }
                    }
                }
            }
            .rightMenu{
                ul{
                    list-style: none;
                    display: flex;
                    margin: 0;
                    #slash-menue{
                        margin: 0 5px;
                    }
                    li{
                        a{
                            text-decoration: none;
                            font-size: 18px;
                            color: black;
                        }
                    }
                }
            }
        }
        #hamburger-icon{
            margin: auto 0;
            display: none;
            cursor: pointer;
            ul{
                list-style: none;
                li{
                    margin: 6px 10px;
                    a{
                        color:black;
                        text-decoration: none;
                        // background-color: #E6DAD5;
                    }
                }
            }
            .bar1{
                margin-top: 0;
            }
            div {
                width: 32px;
                height: 3px;
                background-color: #855342;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        .open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        
        .open .bar2 {
            opacity: 0;
        }
        
        .open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -8px);
            transform: rotate(45deg) translate(-6px, -8px);
        }
        .mobile-menu{
            background-color: #E6DAD5;
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            height: calc(100vh - 50px);
            width: 100%;
        }
        .open .mobile-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .header-content{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-flow: wrap;
        padding-top: 40px;
        .text-content{
            padding-top: 40px;
            height: 100%;
            // padding-top: 8%;
            width: 60%;
            height: 400px;
            margin: auto 0;
            #tablette-image{
                display: none;
            }
            h1{
                margin-bottom: 20px;
                font-size: 48px;
                line-height: 64px;
                font-weight: 600;
                font-style: bold;
            }
            #Guarantee{
                margin-bottom: 20px;    
                font-weight: bold;
                font-size: 24px;
                span{
                    color: #855342 ;
                }
            }
            p{
                margin-bottom: 20px;
                font-size: 19.2px;
                line-height: 32px;
                margin-right: 30px;
            }
            button{
                background-color: black;
                color: white;
                border: solid 1px black;
                padding: 10px;
                font-weight: bold;
            }
        }
        img{
            width: 40%;
            height: 440px;
            object-fit: cover;
        }
    }
}

.about{
    width:90%; 
    margin:0 auto;
    text-align: center;
    padding: 20px 0;
    h2{
        margin-bottom: 15px;
    }
}

.best-books{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    flex-flow: wrap;
    img{
        width: 48%;
        height: 200px;
        object-fit: cover;
    }
    .best-book-text{
        height: 200px;
        margin: auto 0;
        width: 48%;
        h2{
            // width: 60%;
            margin-bottom: 15px;
        }
    }
}

.ex2{
    flex-direction: row-reverse;
    margin-left: 5%;
}

#newBokks-header{
    margin: 20px 0;
    text-align: center;
}

.newBooks{
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
    height: auto;
    background-color: #E6DAD5 ;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 20px;
    p{
        margin-top: 5px;
    }
}

.book{
    width: 22%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .prix{
        margin-bottom: 20px;
    }
}

.imageSize{
        height: 320px;
        object-fit: cover;
}

.howItWorks{
    background-color: white;
    text-align: center;
    padding: 0;
}



@media only screen and (max-width: 1200px) {
    .header{
    background-image: url('../Images/bg1200.png');
        nav{
            #menue-content{
                .centerMenu{
                    ul{
                        width: 180%;
                        li a{
                            font-size: 14px;
                        }
                    }
                }
                .rightMenu{
                    ul li a{
                        font-size: 14px;   
                    }
                }
            }
        }
        .header-content{
            width: 95%;
            padding-top: 20px;
            .text-content{
                padding-top: 0px;
                width: 55%;
                margin: 0px;
                height: auto;
                #tablette-image{
                    display: none;
                }
                h1{
                    margin-bottom: 10px;
                    font-size: 32px;
                    line-height: 56px;
                    font-weight: 550;
                    font-style: bold;
                }
                #Guarantee{
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 24px;
                    span{
                        color: #855342 ;
                    }
                }
                p{
                    margin-bottom: 10px;
                    font-size: 19.2px;
                    line-height: 32px;
                    margin-right: 0px;
                }
                button{
                    background-color: black;
                    color: white;
                    border: solid 1px black;
                    padding: 10px;
                    font-weight: bold;
                }
            }
            img{
                width: 40%;
                height: 400px;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .header{
        background-image: url('../Images/bg1024.png');
        background-color: #E6DAD5;
    }
    .best-books{
        img{
            width: 48%;
            height: 250px;
        }
        .best-book-text{
            height: 250px;
            width: 48%;
            h2{
                // width: 60%;
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header{
    background-image: url('../Images/bg768.png');
        .header-content{
            width: 95%;
            .text-content{
                width: 100%;
                margin: 0 auto;
                height: auto;
                padding: 0;
                .tablette{
                    display: flex;
                    .text-tablette{
                        width: 50%;
                        margin-top: 20px;
                        #Guarantee{
                            line-height: 32px;
                            margin-bottom: 10px;
                        }
                    }
                    #tablette-image{
                        width: 50%;
                        height: 300px;
                        object-fit: cover;
                        display: block;
                    }
                }
                h1{
                    margin-bottom: 10px;
                    font-size: 28.8px;
                    line-height: 48px;
                    font-weight: 550;
                }
                h1 br{
                    display: none;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 10px;
                    font-size: 19.2px;
                    line-height: 24px;
                }
            }
            img{
                display: none;
            }
        }
    }

    .about{
        font-size: 14px;
        padding: 10px 0;
        h2{
            margin-bottom: 10px;
        }
    }

    .best-books{
        img{
            width: 100%;
            height: 300px;
        }
        .best-book-text{
            height: auto;
            width: 100%;
            text-align: center;
            h2{
                // width: 60%;
                margin: 15px 0;
            }
        }
    }
    #newBokks-header{
        margin: 10px 0;
    }
    .book{
        width: 46%;
    }
}

@media only screen and (max-width: 480px) {
    .header{
    background-image: none;
    background-color: #E6DAD5;
        .header-content{
            width: 90%;
            .text-content{
                width: 100%;
                margin: 0 auto;
                height: auto;
                padding: 0;
                .tablette{
                    display: flex;
                    flex-flow: wrap;
                    flex-direction: column-reverse;
                    .text-tablette{
                        width: 95%;
                        text-align: center;
                        margin-top: 10px;
                    }
                    #tablette-image{
                        display: block;
                        width: 100%;
                    }
                }
                h1{
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                    text-align: center;
                }
                h1 br{
                    display: none;
                }
                #Guarantee{
                    font-size: 1.2rem;
                }
                p{
                    margin-bottom: 10px;
                    font-size: 1.2rem;
                }
            }
            img{
                display: none;
            }
        }
    }
    .book{
        width: 100%;
    }
}




@media only screen and (max-width: 950px) {

   .header{
       padding: 10px;
       nav{
        flex-direction: row-reverse;
        #logo{
            // flex: 1;
            width: 40%;
            margin: 0 auto;
        }
        #menue-content{
            display: none;
        }
        #hamburger-icon{
            display: block;
            margin-right: 20px;
          }
       }
   }
}
  





