* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Libre Caslon Text', serif;
}

#header-bg {
  background-image: url("../Images/bg.png");
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  padding: 10px 0;
 }
 
 .header-content {
         width: 95%;
         margin: 0 auto;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
             -ms-flex-direction: row;
                 flex-direction: row;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         -ms-flex-flow: wrap;
             flex-flow: wrap;
         /* padding-top: 40px; */
   }
      
       #header-bg .header-content .text-content {
         /* padding-top: 40px; */
         height: 100%;
         width: 60%;
         height: 400px;
         padding: 3% 0 2% 0;
         /* margin: 0 auto;  */
       }  
       
       #header-bg .header-content .text-content #tablette-image {
         display: none;
       }
       
        #header-bg .header-content .text-content h1 {
         margin-bottom: 20px;
         font-size: 48px;
         line-height: 64px;
         font-weight: 600;
         font-style: bold;
       }
 
        #header-bg .header-content .text-content #Guarantee {
         margin-bottom: 20px;
         font-weight: bold;
         font-size: 24px;
       }
       
        #header-bg .header-content .text-content #Guarantee span {
         color: #855342;
       }
 
       #header-bg .header-content .text-content p {
         margin-bottom: 20px;
         font-size: 19.2px;
         line-height: 32px;
         margin-right: 30px;
       }
       
        #header-bg .header-content .text-content .search{
         display: flex;
         height: 50px;
       }
 
       #header-bg .header-content .text-content .search input{
         width: 70%;
         border-radius: 0;
         border: none;
       }
 
       #header-bg .header-content .text-content .search button{
         width: 20%;
         border: none;
         background-color: #855342;
         color: white;
       }
 
       #header-bg .header-content .slide-container{
         width: 40%;
       }
 
        #header-bg .header-content .slide-container img {
         width: 100%;
         height: 440px;
         padding-top: 10px;
         -o-object-fit: cover;
            object-fit: cover;
       }

       
.about {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.about h2 {
  margin-bottom: 15px;
}

.best-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-evenly;
  width: 90%;
  margin: 20px auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.best-books img {
  width: 40%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-books .best-book-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.best-books .best-book-text h2 {
  margin-bottom: 15px;
}

.ex2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: 5%;
  margin-top: 50px;
}

.howItWorks1 , .howItWorks2{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.newBoks-header {
  padding-top: 20px;
  text-align: center;
}

.newBooks-content {
  width: 100%;
}

.best-book-text h2{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.newBooks {
  width: 95%;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-bottom: 20px;
}

.newBooks p , h2{
  width: 80%;
  margin: 5px auto 0;
}

.book {
    width: 22.75%;
    border: 1px solid #f0f0f0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 30px;
    height: auto;
}

.book img{
  width: 80%;
  margin: 10px 10%;
  height: 300px;
  object-fit: cover;
}

.book h4 , p{
  width: 100%;
  margin: 0;
}

.how_works{
    width: 22%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prix {
  font-weight: bold;
}

#price {
  margin-bottom: 20px;
}

.imageSize {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.howItWorks-header {
  margin-bottom: 20px;
  padding-top: 0;
}

.howItWorks {
  background-color: white;
  text-align: center;
  padding: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5%;
  background-color: #E6DAD5;
}

footer .menue-links ul {
  list-style: none;
}

footer .menue-links ul li {
  margin-top: 10px;
}

footer .menue-links ul li a {
  text-decoration: none;
  color: black;
}

footer .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .searshAndSocialMeadia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .searshAndSocialMeadia .searchandText .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .searshAndSocialMeadia .searchandText .search input, footer .searshAndSocialMeadia .searchandText .search button {
  border-radius: 0;
  border: none;
  height: 35px;
  margin-top: 15px;
  width: 300px;
}

footer .searshAndSocialMeadia .searchandText .search button {
  width: 60px;
  background-color: #855342;
  color: white;
  cursor: pointer;
}

footer .searshAndSocialMeadia .socialMedia {
  margin-left: auto;
}

footer .searshAndSocialMeadia .socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .searshAndSocialMeadia .socialMedia ul .mail {
  height: 28px;
}

footer .searshAndSocialMeadia .socialMedia ul li img {
  width: 30px;
  height: 30px;
}

footer .privacy-responsive {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #header-bg {
    background-image: url("../Images/bg1200.png");
  }
   #header-bg .header-content {
    width: 95%;
    padding-top: 20px;
  }
  #header-bg .header-content .text-content {
    padding-top: 0px;
    width: 55%;
    margin: 0px;
    height: auto;
    padding: 3% 0 2% 0;
  }


   #header-bg .header-content .text-content #tablette-image {
    display: none;
  }
   #header-bg .header-content .text-content h1 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 56px;
    font-weight: 550;
    font-style: bold;
  }
  #header-bg .header-content .text-content #Guarantee {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
  }
   #header-bg .header-content .text-content #Guarantee span {
    color: #855342;
  }
   #header-bg .header-content .text-content p {
    margin-bottom: 10px;
    font-size: 19.2px;
    line-height: 32px;
    margin-right: 0px;
  }
  #header-bg .header-content .text-content button {
    background-color: black;
    color: white;
    border: solid 1px black;
    padding: 10px;
    font-weight: bold;
  }
  #header-bg .header-content .slide-container img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 1024px) {
  #header-bg {
    background-image: url("../Images/bg1024.png");
  }
  #header-bg .header-content{
    padding: 0;
  }
  #header-bg .header-content .slide-container{
    width: 45%;
  }
  #header-bg .header-content .slide-container img {
    width: 100%;
  }
  #header-bg .header-content{
    padding: 0;
  }
  #header-bg .header-content .slide-container{
    width: 45%;
  }
  #header-bg .header-content .slide-container img {
    width: 100%;
  }
  .best-books img {
    width: 48%;
    height: 250px;
  }
  .best-books .best-book-text {
    height: 250px;
    width: 48%;
  }
  .best-books .best-book-text h2 {
    margin-bottom: 15px;
  }
  footer .menue-links {
    width: 25%;
  }
  footer .menue-links p {
    font-size: 14px;
  }
  footer .menue-links ul li {
    margin-top: 7px;
  }
  footer .menue-links ul li a {
    font-size: 14px;
  }
  footer .privacy {
    font-size: 14px;
  }
  footer .searshAndSocialMeadia {
    width: 380px;
  }
  footer .searshAndSocialMeadia .searchandText {
    margin-left: auto;
  }
  footer .searshAndSocialMeadia .searchandText p {
    font-size: 14px;
  }
  footer .searshAndSocialMeadia .searchandText .search input, footer .searshAndSocialMeadia .searchandText .search button {
    width: 200px;
  }
  footer .searshAndSocialMeadia .searchandText .search button {
    width: 60px;
  }
  footer .searshAndSocialMeadia .socialMedia ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    list-style: none;
    width: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .searshAndSocialMeadia .socialMedia ul .mail {
    height: 28px;
  }
  footer .searshAndSocialMeadia .socialMedia ul li img {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #header-bg {
    background-image: url("../Images/bg768.png");
    /* padding: 0; */
    padding-bottom: 10px;
  }
  #header-bg .header-content {
    width: 95%;
    padding-top: 0;
  }
  #header-bg .header-content .text-content {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0;
  }
   #header-bg .header-content .text-content .tablette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header-bg .header-content .text-content .tablette .text-tablette {
    width: 50%;
  }
 #header-bg .header-content .text-content .tablette .text-tablette #Guarantee {
    line-height: 32px;
    margin-bottom: 10px;
  }
   #header-bg .header-content .text-content .tablette #tablette-image {
    width: 50%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }

  #header-bg .header-content .text-content .tablette #tablette-image img{
    width: 100%;
    height: 250px;
    padding-top: 0;
    /* margin-left: 5px; */
  }

  #header-bg .header-content .text-content h1 {
    /* margin-bottom: 0; */
    font-size: 26px;
    line-height: 48px;
    font-weight: 550;
  }
#header-bg .header-content .text-content h1 br {
    display: none;
  }
   #header-bg .header-content .text-content p {
    font-size: 14px;
    margin-bottom: 10px;
    font-size: 19.2px;
    line-height: 24px;
  }
  #header-bg .header-content .text-content .search{
    margin-bottom: 10px;
  }
  #header-bg .header-content .text-content .search button {
    width: 30%;
  }
   #header-bg .header-content .slide-container{
    display: none;
  }
  .about {
    font-size: 14px;
    padding: 10px 0;
  }
  .about h2 {
    margin-bottom: 10px;
  }
  .best-books img {
    width: 100%;
    height: 300px;
  }
  .best-books .best-book-text {
    height: auto;
    width: 100%;
    text-align: center;
  }
  .best-books .best-book-text h2 {
    margin: 15px 0;
  }
  #newBokks-header {
    margin: 10px 0;
  }
  .book {
    width: 46%;
  }
  .tesssssssssssyy {
    color: aqua;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
  footer .menue-links {
    width: 90%;
  }
  footer .privacy {
    display: none;
  }
  footer .searshAndSocialMeadia {
    display: block;
    width: 90%;
  }
  footer .searshAndSocialMeadia .searchandText .search {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .searshAndSocialMeadia .searchandText .search input, footer .searshAndSocialMeadia .searchandText .search button {
    width: 190%;
  }
  footer .searshAndSocialMeadia .searchandText .search button {
    width: 30%;
  }
  footer .searshAndSocialMeadia .socialMedia {
    width: 70%;
    margin: 20px auto;
    text-align: center;
  }
  footer .privacy-responsive {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {
  #header-bg .header-content {
    width: 90%;
    padding-top: 0;
  }
  #header-bg .header-content .text-content {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0;
  }
   #header-bg .header-content .text-content .tablette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #header-bg .header-content .text-content .tablette .text-tablette {
    width: 95%;
    text-align: center;
    margin-top: 10px;
  }
  #header-bg .header-content .text-content .tablette #tablette-image {
    display: block;
    width: 100%;
  }
   #header-bg .header-content .text-content h1 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    text-align: center;
  }
   #header-bg .header-content .text-content h1 br {
    display: none;
  }
   #header-bg .header-content .text-content #Guarantee {
    font-size: 1.2rem;
  }
   #header-bg .header-content .text-content p {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  #header-bg .header-content #desk-slide{
    display: none;
  }
  
  .book {
    width: 100%;
  }
}
