//  big header #E6DAD5 
// litle header #CBA896 
//  logo #855342 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Abel', sans-serif;
    margin: 0px;
}
.header{
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 20px;
    nav{
        display: flex;
        justify-content: space-between;
        #logo{
            a{
                text-decoration: none;
                display: flex;
                color: #855342;
                p{
                    margin-top: 0;
                    font-weight: bolder;
                }
                img{
                    width: 22px;
                    height: 22px;
                    margin-left: 3px;
                }
            }
        }
        #menue-content{
            display: flex;
            justify-content: space-between;
            width: 60%;
            // flex: 1;
            .centerMenu{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    width: 200%;
                    margin: 0;
                    li{
                        font-size: 18px;
                        a{
                            text-decoration: none;
                            font-family: 'Abel', sans-serif;
                            font-size: 14px;
                            color: black;
                        }
                    }
                }
            }
            .rightMenu{
                ul{
                    list-style: none;
                    display: flex;
                    margin: 0;
                    #slash-menue{
                        margin: 0 5px;
                    }
                    li{
                        font-size: 18px;
                        a{
                            text-decoration: none;
                            font-family: 'Abel', sans-serif;
                            font-size: 14px;
                            color: black;
                        }
                    }
                }

            }
        }
        #hamburger-icon{
            margin: auto 0;
            display: none;
            cursor: pointer;
            ul{
                list-style: none;
                li{
                    margin: 6px 10px;
                    a{
                        color:black;
                        text-decoration: none;
                        // background-color: #E6DAD5;
                    }
                }
            }
            .bar1{
                margin-top: 0;
            }
            div {
                width: 32px;
                height: 3px;
                background-color: #855342;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        .open .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        
        .open .bar2 {
            opacity: 0;
        }
        
        .open .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -8px);
            transform: rotate(45deg) translate(-6px, -8px);
        }
        .mobile-menu{
            background-color: #E6DAD5;
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            height: calc(100vh - 50px);
            width: 100%;
        }
        .open .mobile-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        .text-content{
            width: 60%;
            padding: 60px 0 0 60px;
            flex: 1;
            h1{
                margin-bottom: 20px;
            }
            h2{
                margin-bottom: 20px;
                width: 75%;
            }
            button{
                background-color: black;
                color: white;
                border: solid 1px black;
                padding: 10px;
                font-weight: bold;
            }
        }
        .slider-frame{
            margin: 30px;
            width: 35%;
            height: 450px;
            overflow: hidden;
            // border: solid black 1px;
            .slide-images{
                width: 200px;
                height: 200px;
                position: relative;
                animation-name: slide_animation;
                animation-duration: 33s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-play-state: running;
                .img-container{
                    position: relative;
                    float: left;
                    img{
                        object-fit: cover;
                        background-repeat: no-repeat;
                    }
                }
            }  
        }
    }
}

@keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}

.about{
    width:800px; 
    margin:0 auto;
    text-align: center;
    padding: 20px 0;
    h2{
        margin-bottom: 15px;
    }
}

.best-books{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    img{
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
    .best-book-text{
        height: 300px;
        margin: auto 0;
        margin-left: 40px;
        h2{
            width: 60%;
            margin-bottom: 15px;
        }
    }
}

.ex2{
    flex-direction: row-reverse;
}



@media only screen and (max-width: 800px) {

   .header{
       padding: 10px;
       nav{
        flex-direction: row-reverse;
        #menue-content{
            display: none;
        }
        #hamburger-icon{
            display: block;
            margin-right: 20px;
          }
       }

   }

}
  





