* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
  }

  .page_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 96%;
    margin: 20px auto;
   }

   .div_par_title{
    width: 96%;
    margin: 20px auto 0;
  }

  #one_blog_title{
    width: 65%;
    margin: 30px 0 20px;
  }

    .page_content .one_blog{
        width: 65%;
    }

    .one_blog p{
        width: 100%;
        margin-bottom: 20px;
    }

    .one_blog img{
          width: 98%;
          border-radius: 5px;
          margin-bottom: 20px;
    }

    .tendance_and_search{
        width: 33%;
    }

    .one_tendance{
        display: flex;
        margin-bottom: 20px;
      }
    
      .one_tendance img{
        width:137px;
        height: 100px;
        border-radius: 5px;
      }
    
      #tendance_blog_img{
        border: none;
      }
    
      #tendance_blog_title{
        background-color: Transparent;
        border: none;
        display: contents;
      }
    
      .one_tendance h6{
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
    
      .search_ISBN{
        background-image: url('../Images/search_bg.png');
        padding: 80px 0;
        position: sticky;
        left: 0px;
        top: 100px;
      }
    
      .search_ISBN p , .search_ISBN h3{
        text-align: center;
        margin-bottom: 30px;
      }
    
      .search_ISBN h3{
        font-family: arial;
        font-weight: bold;
      }
    
      .search_ISBN .search{
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
    
      #register_blog{
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 10px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin: 0;
      }
      .reg{
        display: flex;
        justify-content: center;
      }
      .search_ISBN .search input{
          width: 50%;
          border: none;
          height: 50px;
      }
    
      .search_ISBN .search button{
          width: 25%;
          border: none;
          background-color: #855342;
          color: white;
          height: 50px;
      }
    



  @media only screen and (max-width: 1200px){

    .page_content{
      width: 98%;
    }

    .tendance_and_search{
      width: 32%;
    }
  }

  @media only screen and (max-width: 1024px){

    .div_par_title {
      width: 94%;
    }

    .page_content{
      flex-direction: column;
      width: 94%;
    }

    .one_blog img {
      width: 100%;
    }

    .page_content .one_blog{
      width: 100%;
    }

    .tendance_and_search{
      display: flex;
      justify-content: space-between;
      width: 98%;
      margin-top: 20px;
    }

    .tendance_blogs{
      width: 60%;
    }

    .search_ISBN{
      width: 30%;
    }    
  
  }

  @media only screen and (max-width: 768px){

  .one_blog {
      width: 96%;
      margin: 0 auto 10px;
  }

  .tendance_and_search{
    flex-direction: column;
    width: 96%;
    margin-top: 20px;
    margin: 0 auto;
  }

  .tendance_blogs{
    width: 100%;
  }

  .search_ISBN{
    width: 80%;
    margin: 0 auto;
    background-repeat: no-repeat;
  }

  }

  @media only screen and (max-width: 480px){

    .search_ISBN{
      width: 90%;
    }

    .search_ISBN .search input{
      width: 60%;
    }

    .search_ISBN .search button{
        width: 30%;
    }
  }
